body{
	color:#222222;
	font-size: 1em;
	font-family: "Open Sans","Helvetica Neue",sans-serif;
}

body section ul{
	text-align:center;
	width:20%;
	margin: 0 auto;
}

body section ol{
	text-align:center;
	width:58%;
	margin: 0 auto;
}

#top-banner{
	background-image:url('kanye.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	padding:6em 0;
	margin: auto;
}
#top-banner p{
	text-align:center;
	font-size: 3em;
}
section{
	text-align: center;
}
#navigation{
	height: 165px;
	font-size: 100%;

}
#navigation ul{
	height:25px;
	list-style-type: none;
	margin:0;
	padding: 0;
}
#navigation li{
	display:block;

}
#navigation li{
	height:25px;
	width: 140px;
	padding:8px 0;
	float:left;
	background-color: #000;
	border-radius: 10px;
	color:#cff;
	text-align: center;

}
#navigation li a{
	text-decoration: none;
	color:yellow;

}


}
#navigation li a:visited:hover{
	color:green;
}